.Jass {
    width: 100vw;
    height: 100vh;
    min-height: 1000px;

    transition-property: background-color;
    transition-duration: 1s;

    font-family: ubuntu;

    .row {
        max-width: 100%;
    }

    .menu-row {
        max-width: 500px;
        margin: auto;
    }

    &.dark {
        background-color: black;
        color: white;
    }

    &.white {
        background-color: white;
        color: black;
    }

    &.orange {
        background-color: peru;
        color: white;
    }

    &.darkblue {
        background-color: darkblue;
        color: white;
    }

    &.lightblue {
        background-color: lightblue;
        color: black;
    }

    @keyframes fillUpBlack {
        0% {
            background-color: transparent;
            /* Start with a transparent background */
        }

        100% {
            background-color: black;
            /* End with the final background color */
        }
    }

    @keyframes fillUpWhite {
        0% {
            background-color: transparent;
            /* Start with a transparent background */
        }

        100% {
            background-color: white;
            /* End with the final background color */
        }
    }

    @keyframes fillUpOrange {
        0% {
            background-color: transparent;
            /* Start with a transparent background */
        }

        100% {
            background-color: peru;
            /* End with the final background color */
        }
    }

    @keyframes fillUpDarkBlue {
        0% {
            background-color: transparent;
            /* Start with a transparent background */
        }

        100% {
            background-color: darkblue;
            /* End with the final background color */
        }
    }

    @keyframes fillUpLightBlue {
        0% {
            background-color: transparent;
            /* Start with a transparent background */
        }

        100% {
            background-color: lightblue;
            /* End with the final background color */
        }
    }

    .Menu {
        .theme-choice {
            height: 20%;

            > * {
                margin: 10px;
                font-size: 30px;
            }
        }
    }

    .Game {
        display: flex;
        align-items: center;
        justify-content: center;
        .Overview {
            .Canvas {
                display: flex;
                align-items: center;
            }
        }
    }

    .Swipable {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: calc(50% - 25px);
        height: 50px;
        width: 25px;
        background-color: rgba(255, 255, 255, 0.5);
        transform: translate(0%, -50%);

        &.right {
            right: 0;
            border-radius: 10px 0 0 10px;
        }

        &.left {
            left: 0;
            border-radius: 0 10px 10px 0;
        }
    }
}
