.Jass {
    width: 100vw;
    height: 100vh;

    transition-property: background-color;
    transition-duration: 1s;

    &.dark {
        background-color: black;
        color: white;
    }

    &.white {
        background-color: white;
        color: black;
    }

    &.orange {
        background-color: peru;
        color: white;
    }

    &.darkblue {
        background-color: darkblue;
        color: white;
    }

    &.lightblue {
        background-color: lightblue;
        color: black;
    }

    @keyframes fillUpBlack {
        0% {
            background-color: transparent;
            /* Start with a transparent background */
        }

        100% {
            background-color: black;
            /* End with the final background color */
        }
    }

    @keyframes fillUpWhite {
        0% {
            background-color: transparent;
            /* Start with a transparent background */
        }

        100% {
            background-color: white;
            /* End with the final background color */
        }
    }

    @keyframes fillUpOrange {
        0% {
            background-color: transparent;
            /* Start with a transparent background */
        }

        100% {
            background-color: peru;
            /* End with the final background color */
        }
    }

    @keyframes fillUpDarkBlue {
        0% {
            background-color: transparent;
            /* Start with a transparent background */
        }

        100% {
            background-color: darkblue;
            /* End with the final background color */
        }
    }

    @keyframes fillUpLightBlue {
        0% {
            background-color: transparent;
            /* Start with a transparent background */
        }

        100% {
            background-color: lightblue;
            /* End with the final background color */
        }
    }

    .Menu {
        .theme-choice {
            height: 20%;

            >* {
                margin: 10px;
                font-size: 30px;
            }
        }

        .name-choice {
            height: 40%;
        }
    }
}